

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574278505995436825.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574278505995436825.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574278505995436825.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574278505995436825.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574278505995436825.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574278505995436825.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574278505995436825.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574278505995436825.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574278505995436825.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574278505995436825.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-574278505995436825.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574278505995436825.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574278505995436825.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574278505995436825.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574278505995436825.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574278505995436825.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-574278505995436825.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-574278505995436825.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-574278505995436825.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-574278505995436825.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574278505995436825.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574278505995436825.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574278505995436825.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-574278505995436825.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-574278505995436825.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574278505995436825.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574278505995436825.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-574278505995436825.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-574278505995436825.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574278505995436825.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574278505995436825.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574278505995436825.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574278505995436825.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574278505995436825.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574278505995436825.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574278505995436825.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574278505995436825.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574278505995436825.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-574278505995436825.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574278505995436825.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574278505995436825.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-574278505995436825.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-574278505995436825.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-574278505995436825.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574278505995436825.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574278505995436825.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-574278505995436825.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-574278505995436825.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-574278505995436825.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-574278505995436825.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-574278505995436825.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-574278505995436825.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574278505995436825.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574278505995436825.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-574278505995436825.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-574278505995436825 .gp-relative{position:relative}.gps-574278505995436825 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574278505995436825 .gp-mb-0{margin-bottom:0}.gps-574278505995436825 .gp-flex{display:flex}.gps-574278505995436825 .gp-inline-flex{display:inline-flex}.gps-574278505995436825 .gp-grid{display:grid}.gps-574278505995436825 .\!gp-hidden{display:none!important}.gps-574278505995436825 .gp-hidden{display:none}.gps-574278505995436825 .gp-max-w-full{max-width:100%}.gps-574278505995436825 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574278505995436825 .gp-flex-col{flex-direction:column}.gps-574278505995436825 .gp-items-center{align-items:center}.gps-574278505995436825 .gp-justify-center{justify-content:center}.gps-574278505995436825 .gp-gap-y-0{row-gap:0}.gps-574278505995436825 .gp-overflow-hidden{overflow:hidden}.gps-574278505995436825 .gp-leading-\[0\]{line-height:0}.gps-574278505995436825 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574278505995436825 .gp-duration-200{transition-duration:.2s}.gps-574278505995436825 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574278505995436825 .tablet\:\!gp-hidden{display:none!important}.gps-574278505995436825 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-574278505995436825 .mobile\:\!gp-hidden{display:none!important}.gps-574278505995436825 .mobile\:gp-hidden{display:none}}.gps-574278505995436825 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-574278505995436825 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-574278505995436825 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-574278505995436825 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-574278505995436825 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-574278505995436825 .\[\&_p\]\:gp-inline p{display:inline}.gps-574278505995436825 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-574278505995436825 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gI_yPR30BR" data-id="gI_yPR30BR"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI_yPR30BR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g1Ifr_h6wP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gN7i4-a5qF" data-id="gN7i4-a5qF"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gN7i4-a5qF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2BVQ5p-lw gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gyqFegzvIK" data-id="gyqFegzvIK"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyqFegzvIK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gg6nUVCQco gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbE_0bC1oe" data-id="gbE_0bC1oe"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:0px;--pb:0px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbE_0bC1oe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKI0ct8xjJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g8GLLkK2JB" data-id="g8GLLkK2JB"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:var(--g-s-m);--pc:center;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8GLLkK2JB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvZQ_vCXnB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBTUuIjGmO">
    <div
      parentTag="Col"
        class="gBTUuIjGmO "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBTUuIjGmO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6cO5ZL1RM gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--mb:0px;--pt:0px;--pb:0px;--ta:left"
      class="gp-leading-[0] g_fYKUc_wf"
    >
      <div 
      data-id="g_fYKUc_wf"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-jau-pfvL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHJCtNQLJQ">
    <div
      parentTag="Col"
        class="gHJCtNQLJQ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHJCtNQLJQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5hFhbIFVx">
    <div
      parentTag="Col"
        class="g5hFhbIFVx "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5hFhbIFVx_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gveJmyv-BC">
    <div
      parentTag="Col"
        class="gveJmyv-BC "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggveJmyv-BC_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-574278505995436825 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/et42jb-a7/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=574278057976661038&sectionId=574278505995436825)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggBTUuIjGmO_text","label":"ggBTUuIjGmO_text","default":"<p><a href=\"#\"><u>Home</u></a></p>"},{"type":"html","id":"ggHJCtNQLJQ_text","label":"ggHJCtNQLJQ_text","default":"<p>Collection</p>"},{"type":"html","id":"gg5hFhbIFVx_text","label":"gg5hFhbIFVx_text","default":"<p>Kitchenware Collection</p>"},{"type":"html","id":"ggveJmyv-BC_text","label":"ggveJmyv-BC_text","default":"<p>A kitchenware collection made from high-quality ceramic and pure wood.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
