

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574278353893196848.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574278353893196848.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-574278353893196848.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574278353893196848.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574278353893196848.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574278353893196848.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574278353893196848.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574278353893196848.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574278353893196848.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574278353893196848.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-574278353893196848.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-574278353893196848.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574278353893196848.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-574278353893196848.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-574278353893196848.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574278353893196848.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-574278353893196848.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-574278353893196848.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-574278353893196848.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574278353893196848.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574278353893196848.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574278353893196848.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574278353893196848.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-574278353893196848.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-574278353893196848.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-574278353893196848.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-574278353893196848.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574278353893196848.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574278353893196848.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574278353893196848.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-574278353893196848.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-574278353893196848.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574278353893196848.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574278353893196848.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-574278353893196848.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574278353893196848.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574278353893196848.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574278353893196848.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574278353893196848.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574278353893196848.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574278353893196848.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574278353893196848.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574278353893196848.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574278353893196848.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574278353893196848.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574278353893196848.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-574278353893196848.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-574278353893196848.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-574278353893196848.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-574278353893196848.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574278353893196848.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574278353893196848.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-574278353893196848.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-574278353893196848.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-574278353893196848.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-574278353893196848.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-574278353893196848.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-574278353893196848.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-574278353893196848.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-574278353893196848.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-574278353893196848.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574278353893196848.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574278353893196848.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-574278353893196848.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-574278353893196848.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-574278353893196848 .gp-relative{position:relative}.gps-574278353893196848 .gp-z-1{z-index:1}.gps-574278353893196848 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574278353893196848 .gp-mb-0{margin-bottom:0}.gps-574278353893196848 .gp-flex{display:flex}.gps-574278353893196848 .gp-inline-flex{display:inline-flex}.gps-574278353893196848 .gp-grid{display:grid}.gps-574278353893196848 .\!gp-hidden{display:none!important}.gps-574278353893196848 .gp-hidden{display:none}.gps-574278353893196848 .gp-h-full{height:100%}.gps-574278353893196848 .gp-max-w-full{max-width:100%}.gps-574278353893196848 .gp-shrink-0{flex-shrink:0}.gps-574278353893196848 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574278353893196848 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-574278353893196848 .gp-flex-col{flex-direction:column}.gps-574278353893196848 .gp-items-center{align-items:center}.gps-574278353893196848 .gp-justify-center{justify-content:center}.gps-574278353893196848 .gp-gap-y-0{row-gap:0}.gps-574278353893196848 .gp-overflow-hidden{overflow:hidden}.gps-574278353893196848 .gp-break-words{overflow-wrap:break-word}.gps-574278353893196848 .gp-rounded-none{border-radius:0}.gps-574278353893196848 .gp-no-underline{text-decoration-line:none}.gps-574278353893196848 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574278353893196848 .gp-duration-200{transition-duration:.2s}.gps-574278353893196848 .gp-duration-300{transition-duration:.3s}.gps-574278353893196848 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574278353893196848 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-574278353893196848 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-574278353893196848 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-574278353893196848 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-574278353893196848 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-574278353893196848 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-574278353893196848 .tablet\:\!gp-hidden{display:none!important}.gps-574278353893196848 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-574278353893196848 .mobile\:\!gp-hidden{display:none!important}.gps-574278353893196848 .mobile\:gp-hidden{display:none}}.gps-574278353893196848 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-574278353893196848 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-574278353893196848 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-574278353893196848 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-574278353893196848 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-574278353893196848 .\[\&_p\]\:gp-inline p{display:inline}.gps-574278353893196848 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-574278353893196848 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-574278353893196848 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gryJMjNs0q" data-id="gryJMjNs0q"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pb:64px;--pt-mobile:70px;--pb-mobile:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gryJMjNs0q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAe5zw2A5I gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gIvP_8O4fT" data-id="gIvP_8O4fT"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:32px;--pl:30px;--pr:30px;--mb-mobile:var(--g-s-l);--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIvP_8O4fT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geRAazvNnz gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9G-ADgrcQ">
    <div
      parentTag="Col"
        class="g9G-ADgrcQ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:48px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9G-ADgrcQ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gctZc3wVXd" data-id="gctZc3wVXd"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:16px;--cg:30px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gctZc3wVXd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goAx0Y-Wdw gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g6xL02PNeV">
    <div
      parentTag="Col"
        class="g6xL02PNeV "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6xL02PNeV_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g6xL02PNeV">
        .g6xL02PNeV {

}
.g6xL02PNeV p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gE0PMjetjl gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:right"
    
  >
    <style>
    .g97W10xpzV.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .g97W10xpzV:hover::before {
      
      
    }

    .g97W10xpzV:hover .gp-button-icon {
      color: undefined;
    }

     .g97W10xpzV .gp-button-icon {
      color: #000000;
    }

    .g97W10xpzV:hover .gp-button-price {
      color: undefined;
    }

    .g97W10xpzV .gp-button-price {
      color: #000000;
    }

    .g97W10xpzV .gp-product-dot-price {
       color: #000000;
    }

    .g97W10xpzV:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="g97W10xpzV" aria-label="At vero"
      
      data-state="idle"
      class="g97W10xpzV gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:10px;--pb:10px;--c:#000000;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#000000"
      >
        {{ section.settings.gg97W10xpzV_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <style id="custom-css-g97W10xpzV">
        button.g97W10xpzV {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-574278353893196848 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/et42jb-a7/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=574278057976661038&sectionId=574278353893196848)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9G-ADgrcQ_text","label":"gg9G-ADgrcQ_text","default":"Lorem ipsum dolor sit amet. <span style=\"color:#5C523D;\">consectetur labore</span>"},{"type":"html","id":"gg6xL02PNeV_text","label":"gg6xL02PNeV_text","default":"<p>Sed ut perspiciatis unde omnis</p>"},{"type":"html","id":"gg97W10xpzV_label","label":"gg97W10xpzV_label","default":"At vero"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
